openapi: 3.0.0

info:
  title: API idCerberus
  version: 1.0.0
  description: |
    Referência técnica da API idCerberus para integração com produtos de
    onboarding digital, KYC, biometria, prevenção à fraude, análise de risco,
    compliance, enriquecimento cadastral e consultas de pessoa física e pessoa
    jurídica.

    Use esta referência quando já souber qual endpoint ou serviço deseja
    implementar. Para entender fluxos, ambientes, boas práticas e critérios de
    escolha entre serviços, consulte primeiro os guias.

    A maioria das consultas de dados é executada por `POST /api/service-api`.
    Nesse endpoint, a rota permanece a mesma e o produto executado é definido
    pelo campo `service` enviado no body.

    Na prática, o endpoint central funciona como um executor de produtos:
    o método, a URL e os headers são iguais; o que muda é o valor de `service`
    e os campos obrigatórios do produto escolhido.

    O valor enviado em `service` precisa existir no produto liberado para o
    cliente. Em alguns produtos, o alias de chamada configurado no produto é
    mais curto que o alias do parceiro exibido no catálogo. Nesses casos, envie
    o alias de chamada no body.

    - Serviços de pessoa física normalmente usam `cpf`.
    - Serviços de pessoa jurídica normalmente usam `cnpj`.
    - Serviços de biometria e documentos usam imagens em base64 ou URLs.
    - Alguns serviços exigem campos complementares, como `birthDate`, `uf`,
      `rg`, `phone`, `email`, `image1` ou `image2`.

    Se estiver em dúvida sobre qual `service` usar, consulte os guias
    "Escolha o serviço certo", "Matriz de serviços" e "Índice de services".

    Termos úteis para busca: CPF Receita, RFB PF, CNPJ Receita, RFB PJ, KYC PF,
    KYC PJ, OCR, FaceMatch, Liveness, score de fraude, risco financeiro,
    dados eleitorais, débitos ativos e protestos.

servers:
  - url: https://backoffice-hml.idcerberus.com
    description: Ambiente de homologação
  - url: https://backoffice.idcerberus.com
    description: Ambiente de produção

tags:
  - name: Autorização
    description: |
      Gere o token JWT usado nas chamadas protegidas. Antes de consumir
      onboarding, serviços externos ou customers, gere um token com `client` e
      `secret` e envie-o no header `Authorization`.
  - name: Integração via SDK
    description: |
      Endpoints usados no fluxo de onboarding via SDK. Use esta seção para
      gerar o `tokenOnboarding`, consultar o resultado processado e baixar o
      relatório final em PDF.
  - name: Serviços - Pessoas
    description: |
      Serviços de pessoa física executados por `POST /api/service-api`.
      Inclui enriquecimento de CPF, Receita Federal, OCR, biometria,
      FaceMatch, Liveness, risco, compliance, certidões, contatos, dados
      eleitorais e outros produtos definidos pelo campo `service`.
  - name: Serviços - Empresas
    description: |
      Serviços de pessoa jurídica executados por `POST /api/service-api`.
      Inclui enriquecimento de CNPJ, Receita Federal, SINTEGRA, sócios,
      relacionamentos, débitos, protestos, KYC dos sócios e compliance.
  - name: Customers
    description: |
      Operações para consultar clientes cadastrados e alterar o status ativo ou
      inativo de um ou mais registros.

paths:
  /api/token-generate:
    post:
      tags:
        - Autorização
      summary: Gerar token de API
      description: |
        Gera o token JWT usado nas chamadas protegidas da API idCerberus.

        Envie o `client` e o `secret` fornecidos pela idCerberus. O retorno
        contém `access_token` e `expires_in`. Use o token retornado no header:

        `Authorization: Bearer {jwt_token}`

        Quando o token expirar, gere um novo token usando as mesmas credenciais.

        Ambientes disponíveis:

        | Ambiente | URL |
        | --- | --- |
        | Homologação | `https://backoffice-hml.idcerberus.com/api/token-generate` |
        | Produção | `https://backoffice.idcerberus.com/api/token-generate` |
      requestBody:
        description: |
          Envie as credenciais da aplicação para gerar um token JWT.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            example:
              client: "{client}"
              secret: "{secret}"
      responses:
        '201':
          description: Token gerado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              example:
                access_token: "{jwt_token}"
                expires_in: "300"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/token-history-onboarding:
    post:
      tags:
        - Integração via SDK
      summary: Gerar TokenOnboarding para SDK
      description: |
        Cria um novo `tokenOnboarding` para iniciar um fluxo de cadastro via SDK.

        O token gerado deve ser entregue ao SDK e será usado posteriormente para
        consultar o resultado processado pelo backoffice e baixar o relatório em
        PDF.

        Use `documentFiles` quando quiser enviar documentos ou URLs de arquivos
        já no início do processo.
      security:
        - bearerAuth: []
      requestBody:
        description: |
          Informe os dados iniciais do usuário e, quando aplicável, arquivos ou
          URLs de documentos que devem ser vinculados ao onboarding.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenOnboardingRequest'
            example:
              document: cpf
              cpf: cpf
              cnpj: cnpj
              name: name
              documentFiles:
                - documentFileType: OTHER
                  document: data:image/jpeg;base64
                  documentUrl: url
      responses:
        '200':
          description: TokenOnboarding gerado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenOnboardingResponse'
              example:
                tokenOnboarding: 56950dae-2d19-4092-a918-a612b3ca8f68
                dateHourProcess: 2023-02-17T16:49:41.577364Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/onboarding/report/{tokenOnboarding}:
    get:
      tags:
        - Integração via SDK
      summary: Consultar resultado de onboarding
      description: |
        Retorna o status, resultado, campos capturados e serviços executados em
        um onboarding.

        Informe o `tokenOnboarding` gerado anteriormente e entregue ao SDK. O
        retorno pode incluir dados capturados durante o cadastro, URLs de
        documentos, mensagens de processamento, regras avaliadas e status dos
        serviços executados.

        Use este endpoint quando precisar consultar o resultado estruturado do
        onboarding em JSON.
      security:
        - bearerAuth: []
      parameters:
        - name: tokenOnboarding
          in: path
          required: true
          description: UUID do onboarding retornado ao SDK.
          schema:
            type: string
      responses:
        '200':
          description: Resultado do onboarding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingReportResponse'
              example:
                tokenOnboarding: bb6adc72-0132-4b27-a723-98fe9f20cb81
                createdDate: 2022-06-15T19:02:04.877688Z
                numberSteps: 4
                status: APPROVED
                result: AUT_APPROVED
                fields:
                  - field: selfie_liveness_3d
                    name: Selfie Liveness 3D
                    step: "1"
                    value: https://bucket-onboarding.s3.amazonaws.com/arquivo
                  - field: button_cnh
                    name: CNH - Carteira Nacional de Habilitação
                    step: "2"
                services:
                  - serviceName: service_liveness_ft
                    createdDate: 2022-06-15T19:02:06.233020Z
                    status: APPROVED
                    statusMessage: USER PASSED THE LIVENESS CHALLENGE
                    fields: []
                    rules: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/history-onboarding-report/{tokenOnboarding}:
    get:
      tags:
        - Integração via SDK
      summary: Baixar relatório PDF do onboarding
      description: |
        Realiza o download do relatório final do onboarding em PDF.

        Este endpoint não retorna um body JSON. Use-o quando precisar armazenar,
        auditar ou apresentar o relatório final do processo de cadastro.
      security:
        - bearerAuth: []
      parameters:
        - name: tokenOnboarding
          in: path
          required: true
          description: UUID do onboarding retornado ao SDK.
          schema:
            type: string
      responses:
        '200':
          description: Arquivo PDF do relatório.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/service-api:
    post:
      tags:
        - Serviços - Pessoas
        - Serviços - Empresas
      summary: Executar serviço de dados, risco ou compliance
      description: |
        Endpoint central para executar produtos de dados, risco, biometria,
        documentos e compliance de pessoa física e pessoa jurídica.

        A rota é sempre `POST /api/service-api`. O produto executado é definido
        pelo campo `service` enviado no body. Os demais campos variam conforme o
        serviço escolhido.

        O valor de `service` é validado contra os services liberados no produto
        do cliente. Se o produto estiver configurado com alias curto, use esse
        alias no body, mesmo que o catálogo mostre o alias completo do parceiro.

        Exemplos comuns de alias de chamada:

        | Alias documentado/parceiro | Alias de chamada |
        | --- | --- |
        | `SERVICE_DIGITAL_DOCUMENTOSCOPY_ACERTPIX` | `SERVICE_DOCUMENTOSCOPY` |
        | `SERVICE_DIGITAL_DOCUMENTOSCOPY_CONSULT_ACERTPIX` | `SERVICE_DIGITAL_DOCUMENTOSCOPY` |
        | `SERVICE_ECONOMIC_RELATIONSHIP_BIGDATACORP` | `economic_relationships` |
        | `SERVICE_EMAIL_VALIDATION_BIGDATACORP` | `SERVICE_EMAIL_VALIDATION1` |
        | `SERVICE_PROTEST_CLEARANCE_CERTIFICATE_BIGDATACORP`, `SERVICE_PROTEST_PF_INFOSIMPLES`, `SERVICE_PROTEST_PF_NETRIN` | `SERVICE_PROTEST_CLEARANCE_CERTIFICATE` |
        | `SERVICE_PROTEST_PJ_INFOSIMPLES`, `SERVICE_PROTEST_PJ_NETRIN` | `SERVICE_PROTEST_CLEARANCE_CERTIFICATE_PJ` |
        | `SERVICE_PERSON_AI_PROMPT_OPENAI` | `SERVICE_PERSON_AI_PROMPT` |

        Este endpoint atende serviços de pessoa física e pessoa jurídica. Nos
        exemplos, use os itens com prefixo `PF -` para consultas por CPF e os
        itens com prefixo `PJ -` para consultas por CNPJ.

        Campos mais comuns:

        | Campo | Uso |
        | --- | --- |
        | `service` | Código do produto que será executado |
        | `cpf` | Documento principal em serviços de pessoa física |
        | `cnpj` | Documento principal em serviços de pessoa jurídica |
        | `image1`, `image2` | Imagens em base64 para OCR, biometria ou documentos |
        | `image1Url`, `image2Url` | URLs de imagens, quando o serviço aceitar URL |
        | `selfie1` | Selfie usada em documentoscopia e FaceMatch |
        | `key` | Chave de consulta em fluxos assíncronos |

        Exemplos:

        - consulta de CPF normalmente usa `cpf`;
        - consulta de CNPJ normalmente usa `cnpj`;
        - OCR, FaceMatch e documentoscopia usam imagens em base64 ou URL;
        - serviços assíncronos usam `key` para consultar o resultado depois.
        - payloads curtos ajudam a validar acesso ao produto, mas services de
          documento, OCR e biometria precisam de massa real para retornar dados
          completos.

        A maioria das respostas retorna:

        - `result`: dados de negócio da consulta;
        - `status.code`: código técnico do processamento;
        - `status.message`: mensagem técnica do processamento;
        - `externalId`: identificador externo, quando disponível.

        Use a lista de exemplos desta operação para selecionar rapidamente o
        payload do produto desejado.
      security:
        - bearerAuth: []
      requestBody:
        description: |
          Informe o código do serviço no campo `service` e os parâmetros
          exigidos por essa consulta. O campo `service` é obrigatório em todos
          os casos. Os demais campos dependem do produto selecionado.

          Use os exemplos para copiar o payload inicial do serviço desejado.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceApiRequest'
            examples:
              enriquecimentoPessoaFisica:
                summary: PF - Enriquecimento de dados
                value:
                  service: SERVICE_PERSON_DATA_ENRICHMENT_BIGDATACORP
                  cpf: cpf
              statusCpfReceitaFederal:
                summary: PF - Status do CPF na Receita Federal
                value:
                  service: SERVICE_RFB_PF_BIGDATACORP
                  cpf: cpf
                  dataDeNascimento: yyyy-MM-dd (opcional)
              statusCpfReceitaFederalOnDemand:
                summary: PF - CPF na Receita Federal on-demand
                value:
                  service: SERVICE_RFB_PF_ON_DEMAND_BIGDATACORP
                  cpf: cpf
              modelagemDadosPessoa:
                summary: PF - Modelagem de dados
                value:
                  service: SERVICE_PERSON_DATA_MODELING_BIGDATACORP
                  cpf: cpf
              promptIaPessoa:
                summary: PF - Prompt de IA para pessoa
                value:
                  service: SERVICE_PERSON_AI_PROMPT_OPENAI
                  cpf: cpf
              ocrDocumentos:
                summary: PF - OCR de documentos
                value:
                  service: SERVICE_OCR_BIGDATACORP
                  image1: base64
                  image2: base64
                  image1Url: url_image
                  image2Url: urlImageMatch
              faceMatch:
                summary: PF - FaceMatch
                value:
                  service: SERVICE_FACE_MATCH_BIGDATACORP
                  image1: base64
                  image2: base64
              liveness2d:
                summary: PF - Liveness 2D
                value:
                  service: SERVICE_LIVENESS_2D_FACETEC
                  image1: selfie
              pessoaPoliticamenteExposta:
                summary: PF - Pessoa politicamente exposta
                value:
                  service: SERVICE_PEP
                  cpf: cpf
              dividaAtivaPessoaFisica:
                summary: PF - Dívida ativa
                value:
                  service: SERVICE_ACTIVE_DEBT_PF_BIGDATACORP
                  cpf: cpf
              scoreRiscoFraude:
                summary: PF - Score de risco de fraude
                value:
                  service: SERVICE_FRAUD_RISK_SCORE_BIGDATACORP
                  cpf: cpf
                  factor: minRisk or minattrition
              riscoFinanceiro:
                summary: PF - Risco financeiro
                value:
                  service: SERVICE_FINANCIAL_RISK_SCORE_BIGDATACORP
                  cpf: cpf
                  birthDate: yyyy-MM-dd (opcional)
              scoreInadimplencia:
                summary: PF - Score de inadimplência
                value:
                  service: SERVICE_DEFAULT_RISK_SCORE_BIGDATACORP
                  cpf: cpf
              scoreBiometrico:
                summary: PF - Score biométrico
                value:
                  service: SERVICE_DATAVALID_CNH_SERPRO
                  cpf: cpf
                  image1: "{base64Image}"
              validacaoCnhDatavalid:
                summary: PF - Validação de CNH no DataValid
                value:
                  service: SERVICE_DATAVALID_CNH_SERPRO
                  cpf: cpf
                  image1: base64
              nadaConstaAcoesJudiciais:
                summary: PF - Certidão de Nada Consta
                value:
                  service: SERVICE_NOTHING_RECORD_LAWSUITS_BIGDATACORP
                  cpf: cpf
                  court: TRF1
                  uf: uf
                  sphere: CIVIL
              antecedentesCriminaisFederal:
                summary: PF - Antecedentes criminais federais
                value:
                  service: SERVICE_CRIMINAL_RECORD_FEDERAL_BIGDATACORP
                  cpf: cpf
              antecedentesCriminaisCivil:
                summary: PF - Antecedentes criminais civis
                value:
                  service: SERVICE_CRIMINAL_RECORD_CIVIL_BIGDATACORP
                  cpf: cpf
                  rg: rg
                  uf: uf
              certidaoNegativaProtesto:
                summary: PF - Certidão negativa de protesto
                value:
                  service: SERVICE_PROTEST_CLEARANCE_CERTIFICATE_BIGDATACORP
                  cpf: cpf
              validacaoEmail:
                summary: PF - Validação de e-mail
                value:
                  service: SERVICE_EMAIL_VALIDATION_BIGDATACORP
                  email: email@email.com
              validacaoCpfTelefone:
                summary: PF - Validação de CPF com telefone
                value:
                  service: SERVICE_CPF_PHONE_VALIDATION_BIGDATACORP
                  cpf: cpf
                  phone: "11900000000"
              validacaoCpfEndereco:
                summary: PF - Validação de CPF com endereço
                value:
                  service: SERVICE_CPF_ADDRESS_VALIDATION_BIGDATACORP
                  cpf: cpf
                  zipcode: 00000-000
                  numberAddress: 13
              documentoscopiaDigital:
                summary: PF - Documentoscopia digital
                value:
                  service: SERVICE_DIGITAL_DOCUMENTOSCOPY_ACERTPIX
                  key: 84bfcd2e-2336-4e30-bcab-15348b7890b5
                  image1: base64
                  image2: base64
                  selfie1: base64
              resultadoDocumentoscopiaDigital:
                summary: PF - Resultado da documentoscopia digital
                value:
                  service: SERVICE_DIGITAL_DOCUMENTOSCOPY_CONSULT_ACERTPIX
                  key: de0cd562-5962-40bd-8f94-5a7184ecde0e
              consultaMei:
                summary: PF - Consulta de MEI
                value:
                  service: SERVICE_MEI_BIGDATACORP
                  cpf: cpf
              processosJuridicosAdministrativos:
                summary: PF - Processos jurídicos e administrativos
                value:
                  service: SERVICE_JURIDICAL_PROCESSES_BIGDATACORP
                  cpf: cpf
              servidoresPublicos:
                summary: PF - Servidores públicos
                value:
                  service: SERVICE_PUBLIC_SERVANTS_BIGDATACORP
                  cpf: cpf
              consultaEnderecos:
                summary: PF - Endereços
                value:
                  service: SERVICE_ADDRESS_BIGDATACORP
                  cpf: cpf
              historicoTelefones:
                summary: PF - Histórico de telefones
                value:
                  service: SERVICE_PHONE_HISTORY_BIGDATACORP
                  cpf: cpf
                  birthDate: yyyy-MM-dd (opcional)
                  limit: 10
              pessoasRelacionadas:
                summary: PF - Pessoas relacionadas
                value:
                  service: SERVICE_RELATED_PEOPLE_BIGDATACORP
                  cpf: cpf
                  birthDate: yyyy-MM-dd (opcional)
              historicoEmails:
                summary: PF - Histórico de e-mails
                value:
                  service: SERVICE_EMAILS_EXTENDED_BIGDATACORP
                  cpf: cpf
                  limit: 10
              relacionamentosEconomicos:
                summary: PF - Relacionamentos econômicos
                value:
                  service: SERVICE_ECONOMIC_RELATIONSHIP_BIGDATACORP
                  cpf: cpf
              historicoProfissional:
                summary: PF - Histórico profissional
                value:
                  service: SERVICE_PROFESSIONAL_HISTORY_BIGDATACORP
                  cpf: cpf
              historicoProfissionalTitular:
                summary: PF - Histórico profissional do titular
                value:
                  service: SERVICE_PROFESSIONAL_HISTORY_OWNER_ONLY_BIGDATACORP
                  cpf: cpf
                  birthDate: yyyy-MM-dd (opcional)
              dadosFinanceirosEnderecosPf:
                summary: PF - Dados financeiros e endereços
                value:
                  service: SERVICE_PF_FINANCIAL_AND_ADDRESS_BIGDATACORP
                  cpf: cpf
                  birthDate: yyyy-MM-dd (opcional)
              propensaoApostasOnline:
                summary: PF - Propensão a apostas online
                value:
                  service: SEVICE_ONLINE_BETTING_PROPENSITY_BIGDATACORP
                  cpf: cpf
              dadosPeloTelefone:
                summary: PF - Dados pelo telefone
                value:
                  service: SERVICE_CONFIRM_PHONE_FACETEC
                  phone: "+5561123456789"
              mandadoPrisao:
                summary: PF - Mandado de prisão
                value:
                  service: SERVICE_ARREST_WARRANT
                  nome: nome
                  motherName: nome da mãe
                  fatherName: nome do pai
                  birthDate: dd/MM/yyyy
                  cpf: cpf
              debitosAtivosPf:
                summary: PF - Débitos ativos
                value:
                  service: SERVICE_ACTIVE_DEBT_PF_BIGDATACORP
                  cpf: cpf
              dadosEleitoraisCandidato:
                summary: PF - Dados eleitorais de candidato
                value:
                  service: SERVICE_ELECTION_CANDIDATE_DATA_CPF_BIGDATACORP
                  cpf: cpf
              doacoesEleitorais:
                summary: PF - Doações eleitorais
                value:
                  service: SERVICE_ELECTORAL_DONORS_CPF_BIGDATACORP
                  cpf: cpf
              envolvimentoPolitico:
                summary: PF - Envolvimento político
                value:
                  service: SERVICE_POLITICAL_INVOLVEMENT_BIGDATACORP
                  cpf: cpf
              kycCompliancePessoaFisica:
                summary: PF - KYC e compliance
                value:
                  service: SERVICE_PERSON_KYC_BIGDATACORP
                  cpf: cpf
                  birthDate: yyyy-MM-dd (opcional)
              exposicaoPerfilMidiaPf:
                summary: PF - Exposição e perfil na mídia
                value:
                  service: SERVICE_MEDIA_PROFILE_EXPOSURE_PF_BIGDATACORP
                  cpf: cpf
              historicoFamiliarPolitico:
                summary: PF - Histórico familiar político
                value:
                  service: SERVICE_FAMILY_POLITICAL_HISTORY_CPF_BIGDATACORP
                  cpf: cpf
              prestadoresServicoEleitorais:
                summary: PF - Prestadores de serviço eleitorais
                value:
                  service: SERVICE_ELECTORAL_PROVIDERS_CPF_BIGDATACORP
                  cpf: cpf
              indicadoresAtividades:
                summary: PF - Indicadores de atividades
                value:
                  service: SERVICE_ACTIVITIES_INDICATORS
                  cpf: cpf
              premiosCertificacoes:
                summary: PF - Prêmios e certificações
                value:
                  service: SERVICE_AWARDS_AND_CERTIFICATIONS_CPF
                  cpf: cpf
              scoreCredito:
                summary: PF - Score de crédito
                value:
                  service: SERVICE_CREDIT_SCORE
                  cpf: cpf
              scoreRiscoQuantum:
                summary: PF - Score de risco Quantum
                value:
                  service: SERVICE_DEFAULT_RISK_SCORE_QUANTUM
                  cpf: cpf
              dadosDemograficos:
                summary: PF - Dados demográficos
                value:
                  service: SERVICE_DEMOGRAPHIC_DATA_CPF
                  cpf: cpf
                  birthDate: yyyy-MM-dd (opcional)
              dominiosPessoaFisica:
                summary: PF - Domínios
                value:
                  service: SERVICE_DOMAINS_CPF
                  cpf: cpf
              faceIndex:
                summary: PF - Busca de face na base
                value:
                  service: SERVICE_FACE_INDEX
                  image1: base64
              beneficiosSociaisFamiliares:
                summary: PF - Benefícios sociais familiares
                value:
                  service: SERVICE_FAMILY_SOCIAL_BENEFITS
                  cpf: cpf
              ocrReact:
                summary: PF - OCR React RG/CNH
                value:
                  service: SERVICE_OCR
                  documentType: CNH
                  image1: base64
                  image2: base64 (obrigatorio para RG)
              ocrEmancipacao:
                summary: PF - OCR de emancipação
                value:
                  service: SERVICE_OCR_EMANCIPATION
                  image1: base64
              ocrComprovanteEndereco:
                summary: PF - OCR de comprovante de endereço
                value:
                  service: SERVICE_OCR_PROOF_OF_ADDRESS
                  image1: base64
              beneficiosSociaisEstendidos:
                summary: PF - Benefícios sociais estendidos
                value:
                  service: SERVICE_SOCIAL_ASSISTANCE_EXTENDED
                  cpf: cpf
              dasMeiReceita:
                summary: PJ - DAS MEI na Receita
                value:
                  service: SERVICE_DAS_MEI_INFOSIMPLES
                  cnpj: cnpj
              processosJuridicosSocios:
                summary: PJ - Processos jurídicos dos sócios
                value:
                  service: SERVICE_JURIDICAL_PROCESSES_PJ_OWNERS_BIGDATACORP
                  cnpj: cnpj
              complianceBet:
                summary: PJ - Compliance de casas de apostas
                value:
                  service: SERVICE_COMPLIANCE_BET
                  cnpj: cnpj
              riscoCreditoEmpresa:
                summary: PJ - Risco de crédito
                value:
                  service: SERVICE_CREDIT_RISK_COMPANY
                  cnpj: cnpj
              riscoCreditoEmpresaMurabei:
                summary: PJ - Risco de crédito Murabei
                value:
                  service: SERVICE_CREDIT_RISK_COMPANY_MURABEI
                  cnpj: cnpj
              dominiosCnpj:
                summary: PJ - Domínios CNPJ
                value:
                  service: SERVICE_DOMAINS_CNPJ
                  cnpj: cnpj
              processosJuridicosPj:
                summary: PJ - Processos jurídicos
                value:
                  service: SERVICE_JURIDICAL_PROCESSES_PJ
                  cnpj: cnpj
              ocrCartaoCnpj:
                summary: PJ - OCR de cartão CNPJ
                value:
                  service: SERVICE_OCR_CNPJ_CARD
                  image1: base64
              dadosCadastraisCnpj:
                summary: PJ - Dados cadastrais de CNPJ
                value:
                  service: SERVICE_REGISTRATION_DATA_CNPJ
                  cnpj: cnpj
              enriquecimentoPessoaJuridica:
                summary: PJ - Enriquecimento de dados
                value:
                  service: SERVICE_CORPORATE_DATA_ENRICHMENT_BIGDATACORP
                  cnpj: cnpj
              statusCnpjReceitaFederal:
                summary: PJ - Status do CNPJ na Receita Federal
                value:
                  service: SERVICE_RFB_PJ_BIGDATACORP
                  cnpj: cnpj
              statusCnpjReceitaFederalOnDemand:
                summary: PJ - CNPJ na Receita Federal on-demand
                value:
                  service: SERVICE_RFB_PJ_ON_DEMAND_BIGDATACORP
                  cnpj: cnpj
              relacionamentosEmpresa:
                summary: PJ - Relacionamentos da empresa
                value:
                  service: SERVICE_COMPANY_RELATIONSHIP_BIGDATACORP
                  cnpj: cnpj
              sociosReceitaFederal:
                summary: PJ - Sócios na Receita Federal
                value:
                  service: SERVICE_COMPANY_RFB_OWNERS_BIGDATACORP
                  cnpj: cnpj
              doacoesEleitoraisPj:
                summary: PJ - Doações eleitorais
                value:
                  service: SERVICE_ELECTORAL_DONORS_CNPJ_BIGDATACORP
                  cnpj: cnpj
              doacoesEleitoraisSocios:
                summary: PJ - Doações eleitorais dos sócios
                value:
                  service: SERVICE_OWNERS_ELECTORAL_DONORS_CNPJ_BIGDATACORP
                  cnpj: cnpj
              fornecedoresEleitoraisPj:
                summary: PJ - Fornecedores eleitorais
                value:
                  service: SERVICE_ELECTORAL_PROVIDERS_CNPJ_BIGDATACORP
                  cnpj: cnpj
              sintegra:
                summary: PJ - SINTEGRA
                value:
                  service: SERVICE_SINTEGRA_CONSULTATION_BIGDATACORP
                  cnpj: cnpj
                  uf: uf (opcional)
              enderecosEstendidosEmpresa:
                summary: PJ - Endereços estendidos
                value:
                  service: SERVICE_ADDRESSES_EXTENDED_CNPJ_BIGDATACORP
                  cnpj: cnpj
              sociosPrimeiroNivel:
                summary: PJ - Sócios de primeiro nível
                value:
                  service: SERVICE_FIRST_LEVEL_PARTNER_BIGDATACORP
                  cnpj: cnpj
              kycComplianceSocios:
                summary: PJ - KYC e compliance dos sócios
                value:
                  service: SERVICE_COMPANY_KYC_OWNERS_BIGDATACORP
                  cnpj: cnpj
              exposicaoPerfilMidiaPj:
                summary: PJ - Exposição e perfil na mídia dos sócios
                value:
                  service: SERVICE_MEDIA_PROFILE_EXPOSURE_PJ_BIGDATACORP
                  cnpj: cnpj
              debitosAtivosPj:
                summary: PJ - Débitos ativos
                value:
                  service: SERVICE_ACTIVE_DEBT_PJ_BIGDATACORP
                  cnpj: cnpj
              certidaoNegativaProtestoPj:
                summary: PJ - Certidão negativa de protesto
                value:
                  service: SERVICE_PROTEST_PJ_INFOSIMPLES
                  cnpj: cnpj
              complianceCasasApostasPj:
                summary: PJ - Compliance de casas de apostas
                value:
                  service: SERVICE_COMPLIANCE_BET_PJ_BIGDATACORP
                  cnpj: cnpj
              informacoesFinanceiras:
                summary: PF - Informações financeiras
                value:
                  service: SERVICE_FINANCIAL_INFORMATION_BIGDATACORP
                  cpf: cpf
              dadosPis:
                summary: PF - Dados PIS
                value:
                  service: SERVICE_PIS_CONSULTATION_BIGDATACORP
                  cpf: cpf
              validacaoEsocial:
                summary: PF - Validação do E-Social
                value:
                  service: SERVICE_ESOCIAL_REGISTRATION_QUALIFICATION_BIGDATACORP
                  cpf: cpf
                  nit: "(opcional)"
      responses:
        '200':
          description: |
            Resultado do serviço executado. A estrutura de `result` varia de
            acordo com o código `service`, mas o objeto `status` segue o padrão
            técnico da API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceApiResponse'
              examples:
                enriquecimentoPessoaFisica:
                  summary: PF - Enriquecimento de dados
                  value:
                    result:
                      cpf: "06319423196"
                      status: REGULAR
                      statusDate: "2022-05-29T00:00:00"
                      name: FULANINHO DA SILVA
                      fatherName: ""
                      motherName: FULANA DA SILVA
                      birthdate: "1998-07-05"
                      birthCountry: BRASILEIRA
                      dead: false
                      gender: M
                      age: 24
                      origin: RECEITA FEDERAL
                      fiscalRegion: DF-GO-MS-MT-TO
                      numberOfPeopleWithTheSameName: "3"
                      nameWordCount: "3"
                      nameUniqueScore: "0.994"
                    status:
                      code: 200
                      message: Success
                statusCpfReceitaFederal:
                  summary: PF - Status do CPF na Receita Federal
                  value:
                    result:
                      cpf: "123414124"
                      status: REGULAR
                      name: NOME EXEMPLO
                      birthDate: yyyy-MM-ddT00:00
                      dead: false
                      origin: RECEITA FEDERAL
                      age: 30
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                    externalId: 1782ea0a-8663-41a8-b156-688527f5363b
                statusCpfReceitaFederalOnDemand:
                  summary: PF - CPF na Receita Federal on-demand
                  value:
                    result:
                      cpf: "123414124"
                      status: REGULAR
                      name: NOME EXEMPLO
                      birthDate: "1994-05-21T00:00"
                      dead: false
                      origin: RECEITA FEDERAL
                      age: 30
                    status:
                      code: 200
                      message: Success
                modelagemDadosPessoa:
                  summary: PF - Modelagem de dados
                  value:
                    result:
                      modelData: Dados de modelagem consolidados para o CPF consultado.
                    results:
                      - modelData: Dados de modelagem consolidados para o CPF consultado.
                    status:
                      code: 200
                      message: Success
                promptIaPessoa:
                  summary: PF - Prompt de IA para pessoa
                  value:
                    result:
                      modelData: Resumo analítico gerado a partir dos dados consolidados da pessoa consultada.
                    results:
                      - modelData: Resumo analítico gerado a partir dos dados consolidados da pessoa consultada.
                    status:
                      code: 200
                      message: Success
                ocrDocumentos:
                  summary: PF - OCR de documentos
                  value:
                    result:
                      cpf: "06319423196"
                      name: FULANO DA SILVA
                      fatherName: MARIO SOUSA
                      motherName: FRANCISCA SOUSA
                      birthdate: "1992-01-05"
                      cnhCategory: AB
                      cnhNumber: "07796497926"
                      emissionPlace: DETRAN DE
                      expeditionDate: "13/04/2020"
                      rg: "3451620"
                      rgUf: DF
                      doc: CNH
                      orgEmission: DETRAN
                      place: BRASILIA-DISTRITO FEDERAL, DF
                      side: C
                      validDate: "13/02/2021"
                      paidActivity: "False"
                      REANCH: DF767732467
                    status:
                      code: 200
                      message: Success
                faceMatch:
                  summary: PF - FaceMatch
                  value:
                    result:
                      status: Face picture match
                      similarity: 99.95
                    status:
                      code: 200
                      message: Success
                liveness2d:
                  summary: PF - Liveness 2D
                  value:
                    result:
                      message: The subject in the submitted Image is likely a Real Human.
                      likeRealPerson: true
                    status:
                      code: 200
                      message: Success
                pessoaPoliticamenteExposta:
                  summary: PF - Pessoa politicamente exposta
                  value:
                    result:
                      cpf: "74768289096"
                      status: Pessoa não exposta politicamente
                    status:
                      code: 200
                      message: success
                dividaAtivaPessoaFisica:
                  summary: PF - Dívida ativa
                  value:
                    result:
                      cpf: "88154726068"
                      status: NEGATIVA
                      statusDate: "2022-08-16"
                      origin: Receita-Federal PGFN
                      validDate: "0001-01-01"
                    status:
                      code: 200
                      message: Success
                scoreRiscoFraude:
                  summary: PF - Score de risco de fraude
                  value:
                    result:
                      cpf: "80246074507"
                      score: "8.0691"
                      factor: MEDIUM RISK
                      message: Success calculating score
                    status:
                      code: 200
                      message: Success
                riscoFinanceiro:
                  summary: PF - Risco financeiro
                  value:
                    result:
                      cpf: "80246074507"
                      score: "650"
                      message: "Score: 650 | Análise: RISCO MÉDIO"
                    status:
                      code: 200
                      message: Success
                scoreInadimplencia:
                  summary: PF - Score de inadimplência
                  value:
                    result:
                      cpf: "{80246074507}"
                      status: REGULAR
                      origin: Datarisk
                      score: "462"
                      rank: E
                      expectedDefault: "58.94%"
                      processType: SEM PROCESSOS
                    status:
                      code: 200
                      message: Success
                scoreBiometrico:
                  summary: PF - Score biométrico
                  value:
                    result:
                      cpf: "73583960149"
                      status: Altíssima probabilidade
                      message: Biometrics exist at the base of the Government
                      similarity: 99.66
                    status:
                      code: 200
                      message: Success
                nadaConstaAcoesJudiciais:
                  summary: PF - Certidão de Nada Consta
                  value:
                    result:
                      cpf: "80246074507"
                      status: NADA CONSTA
                      origin: NadaConsta
                      state: TRF1
                      name: Fulano
                      certificateNumber: "212312312311231"
                      certificateText: A Polícia Federal CERTIFICA, após pesquisa no Sistema Nacional de Informações Criminais - SINIC, que até a presente data, NÃO CONSTA decisão judicial condenatória com trânsito em julgado* em nome de Fulano de Tal, nascido(a) aos 05/07/1998
                      expirationDate: "2022-10-20"
                      emissionDate: "2022-10-20"
                      type: CIVEL E CRIMINAL
                    status:
                      code: 200
                      message: Success
                antecedentesCriminaisCivil:
                  summary: PF - Antecedentes criminais civis
                  value:
                    result:
                      cpf: "80246074507"
                      status: NADA CONSTA
                      uf: BA
                      emissionDate: 00:00 de 20/12/2022
                      certificateNumber: A5FD4A36-3F31-4F75-8AF0-103B7BB66212
                      certificateText: "Antecedentes Criminais CERTIFICADO DE ANTECEDENTES CRIMINAIS Nome: FULANINHO DE TAL Número do Rg: 14781688 Nome do Pai: Nome da Mãe: FULANA DE TAL Data de Nascimento: 19/6/1997 Naturalidade: \"Certifico que o requerente acima qualificado NÃO registra antecedentes criminais até a presente data no Centro de Documentação e Estatística Policial (CEDEP), da Polícia Civil \". IMPORTANTE: Este certificado é válido somente com a apresentação da cédula de Identidade expedida pelo Instituto de Identificação Pedro Melo/DPT/SSP. Este certificado foi emitido terça-feira, 20 de dezembro de 2022 e está disponível para consulta no endereço http://www.ba.gov.br/antecedentes/validar_atestado.asp, informando o código A5FD4A36-3F31-4F75-8AF0-103B7BB66212 Obs: Este certificado tem validade até a data 20/3/2023 Imprimir Fechar Janela"
                      origin: PoliciaCivilAntecedentes
                    status:
                      code: 200
                      message: Success
                validacaoEmail:
                  summary: PF - Validação de e-mail
                  value:
                    result:
                      email: usuario@example.com
                      status: VALID
                      normalizedEmail: usuario@example.com
                      address: usuario@example.com
                      account: teste
                      domain: test.com
                      disposable: false
                      roleAddress: false
                      riskyAccount: false
                      riskyDomain: false
                      junk: false
                      limited: false
                      acceptAll: false
                      possibleSpamTrap: false
                      wasSyntaxValid: true
                      wasSyntaxNormalized: false
                      wasSiteFound: true
                      wasOwnershipFound: false
                      possibleStoogeDomain: false
                      domainType: BLOG
                    status:
                      code: 200
                      message: Success
                validacaoEsocial:
                  summary: PF - Validação do E-Social
                  value:
                    result:
                      cpf: "80246074507"
                      status: VERIFIED
                      message: Os dados estão corretos.
                      name: NOME EXEMPLO
                      birthdate: "1971-11-23"
                      pis: "12460888617"
                    status:
                      code: 200
                      message: Success
                antecedentesCriminaisFederal:
                  summary: PF - Antecedentes criminais federais
                  value:
                    result:
                      cpf: "80246074507"
                      status: NADA CONSTA
                      certificateNumber: "79222652022"
                      certificateText: A Polícia Federal CERTIFICA, após pesquisa no Sistema Nacional de Informações Criminais - SINIC, que até a presente data, NÃO CONSTA decisão judicial condenatória com trânsito em julgado* em nome de FULANINHO DA SILVA, nascido(a) aos 05/07/1998
                      expirationDate: "2022-10-20"
                    status:
                      code: 200
                      message: Success
                validacaoCpfTelefone:
                  summary: PF - Validação de CPF com telefone
                  value:
                    result:
                      cpf: "80246074507"
                      phone: "5561982358585"
                      operator: OPERADORA EXEMPLO
                      validCarrierPhone: true
                      matchRateCpfPhone: 100
                    status:
                      code: 200
                      message: Success
                validacaoCpfEndereco:
                  summary: PF - Validação de CPF com endereço
                  value:
                    result:
                      cpf: "80246074507"
                      message: Customer not found
                      carrierName: CLARO S.A.
                      zipcode: "00000000"
                      zipCodeMatchRate: -1
                      numberMatchRate: -1
                      numberAddress: "13"
                    status:
                      code: 200
                      message: Success
                documentoscopiaDigital:
                  summary: PF - Documentoscopia digital
                  value:
                    result:
                      cpf: "80246074507"
                      name: FULANINHO DA SILVA
                      fatherName: FULANO DA SILVA
                      motherName: FULANA DA SILVA
                      birthdate: "1984-05-21"
                      cnhCategory: AD
                      expeditionDate: "19/03/2021"
                      rg: "3261880"
                      rgUf: DF
                      reanch: DF765309297
                      place: Distrito Federal, Goiás, Mato Grosso, Mato Grosso do Sul ou Tocantins
                      validDate: "2026-02-24"
                      biometry: 1
                    status:
                      code: 200
                      message: Success
                resultadoDocumentoscopiaDigital:
                  summary: PF - Resultado da documentoscopia digital
                  value:
                    result:
                      cpf: "80246074507"
                      name: FULANINHO DA SILVA
                      fatherName: FULANO DA SILVA
                      motherName: FULANA DA SILVA
                      birthdate: "1992-01-05"
                      cnhCategory: AB
                      cnhNumber: "07796497926"
                      expeditionDate: "2020-04-13"
                      rg: "3451620"
                      rgUf: DF
                      doc: CNH
                      place: BRASILIA-DISTRITO FEDERAL, DF
                      validDate: "2021-02-13"
                      REANCH: DF767732467
                      biometry: 5
                    status:
                      code: 200
                      message: Success
                consultaMei:
                  summary: PF - Consulta de MEI
                  value:
                    result:
                      meis:
                        - cpf: "34449772040"
                          cnpj: "22745099000193"
                          companyName: EMPRESA MEI EXEMPLO
                          sector: PRIVATE - 9511800 - REPARACAO E MANUTENCAO DE COMPUTADORES
                          classification: SELF-EMPLOYED
                          startDate: "2022-02-03"
                          endDate: "2022-02-10"
                    status:
                      code: 200
                      message: Success
                dadosPeloTelefone:
                  summary: PF - Dados pelo telefone
                  value:
                    result:
                      cpf: "11111111111"
                      name: FULANO DA SILVA
                      phone: "+5561123456789"
                    status:
                      code: 200
                      message: Success
                historicoProfissionalTitular:
                  summary: PF - Histórico profissional do titular
                  value:
                    result:
                      professionalHistory:
                        - cnpj: "05731652000209"
                          companyName: EMPRESA EXEMPLO LTDA
                          classification: ENTREPRENEUR | BUSINESS OWNER
                          sector: PRIVATE - 8599604 - TREINAMENTO EM DESENVOLVIMENTO PROFISSIONAL E GERENCIAL
                          startDate: "2004-02-10"
                          endDate: "2007-12-23"
                    status:
                      code: 200
                      message: Success
                dadosFinanceirosEnderecosPf:
                  summary: PF - Dados financeiros e endereços
                  value:
                    result:
                      cpf: "80246074507"
                      name: NOME EXEMPLO
                      status: REGULAR
                      origin: RECEITA FEDERAL
                      monthlyIncomeEstimate: "4 A 10 SM"
                      equityEstimate: "100000.00"
                      addresses:
                        - zipcode: "70000000"
                          country: BRASIL
                          address: QUADRA EXEMPLO
                          city: BRASILIA
                          addressType: HOME
                          neighborhood: ASA NORTE
                          state: DF
                      personalIncomeTaxReturns:
                        - year: "2023"
                          situation: CREDITADA
                          bankAgency: BANCO EXEMPLO
                    status:
                      code: 200
                      message: Success
                propensaoApostasOnline:
                  summary: PF - Propensão a apostas online
                  value:
                    result:
                      propensityScore: 72
                      totalPassages: 12
                      firstPassageDate: "2024-01-10T00:00:00"
                      lastPassageDate: "2024-09-18T00:00:00"
                      last30DaysPassages: 1
                      last90DaysPassages: 3
                      last180DaysPassages: 7
                      last365DaysPassages: 12
                    status:
                      code: 200
                      message: Success
                mandadoPrisao:
                  summary: PF - Mandado de prisão
                  value:
                    result:
                      message: Nenhum mandado de prisão encontrado.
                      arrestWarrantFound: false
                    status:
                      code: 200
                      message: Success
                debitosAtivosPf:
                  summary: PF - Débitos ativos
                  value:
                    result:
                      totalDebtValue: 0
                      totalDebtValuePerOrigin: {}
                      totalDebts: 0
                      totalDebtsPerOrigin: {}
                      debts:
                        - source: Fonte
                          debtOrigin: Origem
                          consolidatedValue: Valor
                          responsibleUnity: Unidade
                          responsibleUnityUF: UF
                          registrationNumber: "1234"
                          registrationSituationType: divida
                          registrationSituation: ativo
                    status:
                      code: 200
                      message: Success
                dadosEleitoraisCandidato:
                  summary: PF - Dados eleitorais de candidato
                  value:
                    result:
                      hasRunForOffice: true
                      hasBeenElected: true
                      numberOfTimesRanForOffice: 1
                      numberOfTimesElected: 1
                      lastElectedRole: Presidente
                      firstElectionYearRanForOffice: "2000"
                      lastElectionYearRanForOffice: "2020"
                      firstElectionYearElected: "2000"
                      lastElectionYearElected: "2020"
                      electionData:
                        - ballotName: ROG***NHO
                          ballotNumber: 77789
                          fullName: CAR***************************IRA
                          normalizedName: CAR***************************IRA
                          docNumber: "832*****753"
                          voterNumber: "079******370"
                          url: https://divulgacandcontas.tse.jus.br/divulga/rest/v1/candidatura/buscar/2020/58955/2030402020/candidato/190000751750
                          electionYear: "2020"
                          electionType: Municipal
                          applicationRole: Vereador
                          applicationPlace: SÃO FIDÉLIS
                          applicationUf: RJ
                          campaignCNPJ: "38646823000161"
                          status: Eleito por QP
                          wasElected: true
                          candidateSituation: Consta da urna
                          applicationSituation: Deferido
                          emails:
                            - eleicoes2020sf@gmail.com
                          gender: MASC.
                          maritalStatus: Casado(a)
                          colorRace: BRANCA
                          instructionLevel: Ensino Médio completo
                          occupation: Técnico em Agronomia e Agrimensura
                          birthDate: "0001-01-01T00:00:00Z"
                          nationality: Brasileira nata
                          birthUF: SÃO FIDÉLIS
                          partyNumber: 77
                          partyAcronym: SOLIDARIEDADE
                          partyName: Sol*******ade
                          campaignSpentValue: 0
                          campaignSpendingFirstRound: 122565.82
                          campaignSpendingSecondRound: 0
                          totalAssetsValue: 93100
                          assetsList:
                            - description: economia pessoal
                              type: Dinheiro em espécie - moeda nacional
                              value: 8100
                          accountability:
                            accountabilityControlNumber: 777***************502
                            consolidatedRevenueValues:
                              totalReceivedResources: 13390.8
                              totalFinancialResources: 9230
                              totalEstimatedResources: 4160.8
                            consolidatedExpensesValues:
                              expensesThreshold: 122565.82
                              totalExpensesContracted: 9230
                              totalExpensesPaid: 9230
                            providersRanking:
                              - docNumber: 123********102
                                name: A.J*****************************RIA
                                numberDonations: "9"
                                totalValue: 9230
                    status:
                      code: 200
                      message: Success
                doacoesEleitorais:
                  summary: PF - Doações eleitorais
                  value:
                    result:
                      totalDonationsAmount: 15
                      totalDonatedValue: 57930428
                      quantityOfDonationsLastElection: 0
                      quantityOfDonationsLastTwoElections: 0
                      quantityOfDonationsLastThreeElection: 1
                      donatedValueLastElection: 0
                      donatedValueLastTwoElections: 0
                      donatedValueLastThreeElection: 25000000
                      partiesThatReceivedDonation:
                        - PSDB
                        - PST
                        - PRP
                        - PFL
                        - MDB
                      maxDonationValue: 57030000
                      averageDonationValue: 8275775.5
                      minDonationValue: 684
                      electionDonationData:
                        - politicianBallotNumber: 0
                          politicianFullName: HEN**********************LES
                          electionYear: "2002"
                          partyName: P**B
                          donationsAmount: "6"
                          totalDonationValue: 887050.1
                          isCrowdfunding: false
                          donationRecipient: CANDIDATE
                          isCrossDonation: false
                          partyCrossDonationValue: 0
                    status:
                      code: 200
                      message: Success
                envolvimentoPolitico:
                  summary: PF - Envolvimento político
                  value:
                    result:
                      electionsCount: 5
                      isCurrentlyInOffice: true
                      wasFormerlyElected: true
                      isPep: true
                      amountDonated: 19804076
                      amountReceived: 20599420
                      politicalInvolvementScore: 1
                    status:
                      code: 200
                      message: Success
                kycCompliancePessoaFisica:
                  summary: PF - KYC e compliance
                  value:
                    result:
                      cpf: "12345678901"
                      isPep: false
                      isCurrentlySanctioned: false
                      sanctionsHistory: []
                      pepHistories: []
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                exposicaoPerfilMidiaPf:
                  summary: PF - Exposição e perfil na mídia
                  value:
                    result:
                      cpf: "12345678901"
                      mediaExposureLevel: MEDIUM
                      celebrityLevel: LOW
                      unpopularityLevel: LOW
                      fullName: NOME EXEMPLO
                      shortName: NOME EXEMPLO
                      fullNameUniquenessScore: 0.98
                      shortNameUniquenessScore: 0.91
                      newsItems:
                        - title: Notícia de exemplo
                          url: https://www.exemplo.com/noticia
                          publicationDate: "2024-01-15"
                          sentimentAnalysis: NEUTRAL
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                historicoFamiliarPolitico:
                  summary: PF - Histórico familiar político
                  value:
                    result:
                      totalMembers: 10
                      policalMembers: 3
                      currentlyElectedMembers: 2
                      totalDisputedElections: 22
                      totalWonElections: 11
                      highestDisputedPolicalPosition: PRESIDENTE
                      highestHeldPolicalPosition: PRESIDENTE
                      electionsTimeline:
                        - eelationshipType: SELF
                          electionYear: 2022
                          electionType: FEDERAL
                          electionRegion: BRASIL - BR
                          role: PRESIDENTE
                          partyAcronym: PL
                          wasElected: false
                    status:
                      code: 200
                      message: Success
                prestadoresServicoEleitorais:
                  summary: PF - Prestadores de serviço eleitorais
                  value:
                    result:
                      name: BARBOSA REIS
                      partiesThatReceivedProvision:
                        - PSOL
                        - PCB
                      electionProvisionData:
                        - politicianBallotNumber: 5044
                          politicianFullName: ZULMIRA ROZ
                          politicianDocNumber: "232000391"
                          partyName: PSOL
                          provisionRequester: CANDIDATE
                          electionYear: 2018
                          applicationRole: Deputado Federal
                          numberOfProvisions: 4
                          totalProvisionValue: 240
                      minProvisionValue: 78.75
                      maxProvisionValue: 6274
                      avgProvisionValue: 1054.8488
                    status:
                      code: 200
                      message: Success
                dasMeiReceita:
                  summary: PJ - DAS MEI na Receita
                  value:
                    result:
                      periodos:
                        "201707":
                          mensagem: Exemplo de texto
                          mensagem_site: Exemplo de texto
                          url_das: https://www.exemplo.com/exemplo-de-url
                          codigo_barras_das: ""
                          periodo: Julho/2017
                          apurado: Sim
                          situacao: ""
                          principal: ""
                          multas: ""
                          juros: ""
                          total: ""
                          data_vencimento: ""
                          data_acolhimento: ""
                          data_pagamento: ""
                          icms: ""
                          iss: ""
                          inss: ""
                          numero_apuracao: ""
                          numero_das: ""
                          normalizado_principal: 0.0
                          normalizado_multas: 0.0
                          normalizado_juros: 0.0
                          normalizado_total: 0.0
                          normalizado_icms: 0.0
                          normalizado_iss: 0.0
                          normalizado_inss: 0.0
                        "201708":
                          mensagem: Exemplo de texto
                          mensagem_site: Exemplo de texto
                          url_das: https://www.exemplo.com/exemplo-de-url
                          codigo_barras_das: ""
                          periodo: Agosto/2017
                          apurado: Sim
                          situacao: ""
                          principal: ""
                          multas: ""
                          juros: ""
                          total: ""
                          data_vencimento: ""
                          data_acolhimento: ""
                          data_pagamento: ""
                          icms: ""
                          iss: ""
                          inss: ""
                          numero_apuracao: ""
                          numero_das: ""
                          normalizado_principal: 0.0
                          normalizado_multas: 0.0
                          normalizado_juros: 0.0
                          normalizado_total: 0.0
                          normalizado_icms: 0.0
                          normalizado_iss: 0.0
                          normalizado_inss: 0.0
                    status:
                      code: 200
                      message: Success
                enriquecimentoPessoaJuridica:
                  summary: PJ - Enriquecimento de dados
                  value:
                    result:
                      cnpj: "30108283000150"
                      status: ATIVA
                      statusDate: "2022-07-26T00:00:00Z"
                      name: EMPRESA EXEMPLO LTDA
                      country: Brazil
                      fantasyName: EMPRESA EXEMPLO
                      origin: Receita Federal
                      regime: SIMPLES
                      age: 4
                      registrationStatusDate: "2018-04-04T00:00:00Z"
                      foundedDate: "2018-04-04T00:00:00Z"
                      activities:
                        - IsMain: true
                          Code: "6209100"
                          Activity: SUPORTE TECNICO, MANUTENCAO E OUTROS SERVICOS EM TECNOLOGIA DA INFORMACAO
                        - IsMain: false
                          Code: "6201501"
                          Activity: DESENVOLVIMENTO DE PROGRAMAS DE COMPUTADOR SOB ENCOMENDA
                        - IsMain: false
                          Code: "6201502"
                          Activity: WEB DESIGN
                        - IsMain: false
                          Code: "6202300"
                          Activity: DESENVOLVIMENTO E LICENCIAMENTO DE PROGRAMAS DE COMPUTADOR CUSTOMIZAVEIS
                      legalNatureCode: "2062"
                      legalNatureActivity: SOCIEDADE EMPRESARIA LIMITADA
                      capital: DEZ MIL REAIS
                      capitalRS: "10000.00"
                      nire: ""
                    status:
                      code: 200
                      message: Success
                statusCnpjReceitaFederal:
                  summary: PJ - Status do CNPJ na Receita Federal
                  value:
                    result:
                      cnpj: "30108283000150"
                      status: ATIVA
                      statusDate: "2022-06-26T00:00:00Z"
                      origin: Receita Federal
                    status:
                      code: 200
                      message: Success
                statusCnpjReceitaFederalOnDemand:
                  summary: PJ - CNPJ na Receita Federal on-demand
                  value:
                    result:
                      cnpj: "30108283000150"
                    status:
                      code: 200
                      message: Success
                relacionamentosEmpresa:
                  summary: PJ - Relacionamentos da empresa
                  value:
                    result:
                      cnpj: "99244297000106"
                      isFamilyCompany: false
                      isFamilyEmployees: false
                      relationshipTotal: 1
                      totalOwners: 1
                      totalEmployees: 1
                      totalOwned: 1
                      companyRelationships:
                        - cpf: "77272722314"
                          name: NOME EXEMPLO
                          country: Brazil
                          relationshipName: SOCIO-ADMINISTRADOR
                          relationshipType: REPRESENTANTELEGAL
                          origin: RECEITA FEDERAL
                          relationshipStartDate: "2021-03-01"
                          relationshipEndDate: "2021-03-01"
                    status:
                      code: 200
                      message: Success
                validacaoCnhDatavalid:
                  summary: PF - Validação de CNH no DataValid
                  value:
                    result:
                      cpf: "73583960149"
                    status:
                      code: 200
                      message: Success
                sociosReceitaFederal:
                  summary: PJ - Sócios na Receita Federal
                  value:
                    results:
                      - cpf: "77272722314"
                        name: MARIO SOUSA
                        gender: M
                        birthDate: "1984-05-21"
                        age: 40
                        taxIdStatus: REGULAR
                        taxIdOrigin: RECEITA FEDERAL
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                doacoesEleitoraisPj:
                  summary: PJ - Doações eleitorais
                  value:
                    result:
                      cnpj: "12345678000190"
                      electoralDonors:
                        totalDonationsAmount: 3
                        totalDonatedValue: 15000
                        partiesThatReceivedDonation:
                          - MDB
                          - PSDB
                        electionDonationData:
                          - electionYear: "2022"
                            partyName: MDB
                            donationsAmount: "2"
                            totalDonationValue: 10000
                            isCrowdfunding: false
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                doacoesEleitoraisSocios:
                  summary: PJ - Doações eleitorais dos sócios
                  value:
                    result:
                      cnpj: "12345678000190"
                      ownersElectoralDonors:
                        - ownerDocNumber: "123***78901"
                          ownerName: SOCIO EXEMPLO
                          totalDonationsAmount: 2
                          totalDonatedValue: 5000
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                fornecedoresEleitoraisPj:
                  summary: PJ - Fornecedores eleitorais
                  value:
                    result:
                      cnpj: "12345678000190"
                      electoralProviders:
                        name: EMPRESA EXEMPLO LTDA
                        partiesThatReceivedProvision:
                          - PSOL
                        electionProvisionData:
                          - politicianFullName: CANDIDATO EXEMPLO
                            partyName: PSOL
                            electionYear: 2022
                            numberOfProvisions: 4
                            totalProvisionValue: 2400
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                sintegra:
                  summary: PJ - SINTEGRA
                  value:
                    result:
                      cnpj: "30108283000000"
                      status: NOT REGISTERED
                      uf: DF
                      cfdf: "0785286100111"
                      origin: Sintegra
                    status:
                      code: 200
                      message: Success
                sociosPrimeiroNivel:
                  summary: PJ - Sócios de primeiro nível
                  value:
                    result:
                      cnpj: "99244297000106"
                      circleType: FIRST_LEVEL_OWNERS
                      totalEntities: 2
                      totalDistinctAddresses: 11
                      totalDistinctPhones: 7
                      totalDistinctEmails: 7
                      totalEmployedEntities: 2
                      totalCompaniesOwned: 4
                      totalRelatedEntities: 4
                      totalPEPs: 0
                      totalPublicServants: 0
                      totalClassMember: 0
                      totalLivingPeople: 2
                      totalDeceasedPeople: 0
                      minAge: 28
                      maxAge: 38
                      avgAge: 33
                      circleTotalIncomeRange: ACIMA DE 20 SM
                      entitiesAvgIncomeRange: 10 A 20 SM
                      entitiesMaxIncomeRange: 10 A 20 SM
                      entitiesMinIncomeRange: 4 A 10 SM
                      minEducationLevel: SEM INFORMACAO
                      avgEducationLevel: 6 A 9 FUND
                      maxEducationLevel: MEDIO COMPL
                      avgGeographicDistance: 11490.88926949
                      maxGeographicDistance: 22580.48025219
                      minGeographicDistance: 401.29828679
                      maxEShopperLevel: A
                      totalEShopperLevel: A
                      minEShopperLevel: A
                      maxESellerLevel: D
                      minESellerLevel: H
                      totalESellerLevel: F
                      totalLawSuits: 0
                      totalLawSuitsAsDefendant: 0
                      totalLawSuitsAsAuthor: 0
                      totalPassages: 50
                      totalBadPassages: 4
                      monthAveragePassages: 50
                      firstPassageDate: "0001-01-01T00:00:00"
                      lastPassageDate: "0001-01-01T00:00:00"
                      last3MonthsPassages: -3
                      last6MonthsPassages: -3
                      last12MonthsPassages: -3
                      last18MonthsPassages: -3
                      genderDistribution:
                        U: 0
                        F: 0
                        M: 2
                      ageRangeDistribution:
                        "30-40": 1
                        "25-30": 1
                        "SEM INFORMACAO": 0
                      incomeRangeDistribution:
                        "4 A 10 SM": 1
                        "10 A 20 SM": 1
                        "SEM INFORMACAO": 0
                      educationLevelDistribution:
                        "MEDIO COMPL": 1
                        "SEM INFORMACAO": 1
                      stateDistribution:
                        DF: 1
                        SP: 0
                        RJ: 0
                        BA: 0
                      eShopperDistribution:
                        A: 2
                        B: 0
                        C: 0
                      eSellerDistribution:
                        D: 1
                        H: 1
                      taxIdStatusDistribution:
                        Regular: 2
                    status:
                      code: 200
                      message: Success
                processosJuridicosSocios:
                  summary: PJ - Processos jurídicos dos sócios
                  value:
                    result:
                      totalLawsuitsOwners: 2
                      totalLawsuitsReplaceOwners: 0
                      totalLawsuitsAsAuthorOwners: 1
                      totalLawsuitsAsOtherOwners: 0
                      avgLawsuitsOwners: 0
                      lawSuitsOwners:
                        "00365142506":
                          Lawsuits:
                            - Number: ""
                              Type: ""
                              CourtType: L
                              Value: 53200
                              Parties:
                                - Doc: cpf
                                  IsPartyActive: true
                                  Name: NOME EXEMPLO
                                  Polarity: ACTIVE
                                  Type: AUTHOR
                          TotalLawsuits: 2
                          TotalLawsuitsAsAuthor: 1
                          TotalLawsuitsAsDefendant: 1
                          TotalLawsuitsAsOther: 0
                    status:
                      code: 200
                      message: Success
                kycComplianceSocios:
                  summary: PJ - KYC e compliance dos sócios
                  value:
                    result:
                      totalCurrentPep: 0
                      totalHistoricalPep: 0
                      totalCurrentSanctioned: 0
                      totalHistoricalSanctioned: 3
                      partnersHistory:
                        "99824060510":
                          IsCurrentlyPEP: false
                          IsCurrentlySanctioned: false
                          Last30DaysSanctions: 0
                          firstSanctionDate: null
                          lastSanctionDate: null
                          SanctionsHistory:
                            - Source: interpol
                              Type: Law Enforcement
                              MatchRate: 49
                    status:
                      code: 200
                      message: Success
                exposicaoPerfilMidiaPj:
                  summary: PJ - Exposição e perfil na mídia dos sócios
                  value:
                    results:
                      - cpf: "12345678901"
                        mediaExposureLevel: MEDIUM
                        celebrityLevel: LOW
                        unpopularityLevel: LOW
                        fullName: NOME EXEMPLO
                        shortName: NOME EXEMPLO
                        fullNameUniquenessScore: 0.98
                        shortNameUniquenessScore: 0.91
                        newsItems:
                          - title: Notícia de exemplo
                            url: https://www.exemplo.com/noticia
                            publicationDate: "2024-01-15"
                            sentimentAnalysis: NEUTRAL
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                enderecosEstendidosEmpresa:
                  summary: PJ - Endereços estendidos
                  value:
                    result:
                      cnpj: "30108283000150"
                      addresses:
                        - address: AVENIDA EXEMPLO
                          neighborhood: CENTRO
                          city: SAO PAULO
                          state: SP
                          country: BRASIL
                          zipcode: "01001000"
                          addressType: COMMERCIAL
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                debitosAtivosPj:
                  summary: PJ - Débitos ativos
                  value:
                    result:
                      totalDebtValue: 0
                      totalDebtValuePerOrigin: {}
                      totalDebts: 0
                      totalDebtsPerOrigin: {}
                      debts:
                        - source: Fonte
                          debtOrigin: Origem
                          consolidatedValue: Valor
                          responsibleUnity: Unidade
                          responsibleUnityUF: UF
                          registrationNumber: "1234"
                          registrationSituationType: divida
                          registrationSituation: ativo
                    status:
                      code: 200
                      message: Success
                complianceCasasApostasPj:
                  summary: PJ - Compliance de casas de apostas
                  value:
                    result:
                      cnpj: "00000000000000"
                      status: ATIVA
                      statusDate: "2024-06-08"
                      origin: Receita Federal
                      age: 6
                      foundedDate: "2018-04-04T00:00:00Z"
                      taxIdCountry: Brazil
                      officialName: NOME OFICIAL ANONIMIZADO
                      tradeName: NOME FANTASIA ANONIMIZADO
                      isHeadquarter: true
                      isConglomerate: false
                      taxRegime: SIMPLES
                      taxIdStatusRegistrationDate: "2018-04-04T00:00:00Z"
                      taxRegimes: SIMPLES
                      activities:
                        - IsMain: true
                          Code: "6209100"
                          Activity: SUPORTE TECNICO, MANUTENCAO E OUTROS SERVICOS EM TECNOLOGIA DA INFORMACAO
                        - IsMain: false
                          Code: "6201501"
                          Activity: DESENVOLVIMENTO DE PROGRAMAS DE COMPUTADOR SOB ENCOMENDA
                        - IsMain: false
                          Code: "6201502"
                          Activity: WEB DESIGN
                      isBet: false
                      onlineBettingCompliance:
                        - SportsExposure:
                            Sports:
                              - SportName: SO**ER
                                Region: BRAZIL
                                TotalRelatedEntities: 1
                                RelatedEntities:
                                  - DocNumber: "00000000000000"
                                    DocType: CPF
                                    RelationshipLevel: BUSINESS PARTNER
                                    InstitutionName: INSTITUICAO ANONIMIZADA
                                    InstitutionActivity: CLUBES SOCIAIS, ESPORTIVOS E SIMILARES
                                    Role: MANAGER
                                    IsActive: true
                                    StartDate: "0001-01-01T00:00:00"
                                    EndDate: "9999-12-31T23:59:59.9999999"
                                    Source: FONTE ANONIMIZADA
                          ForbiddenBet:
                            Name: NOME ANONIMIZADO
                            Age: "30"
                            IsFromMinisterioDaFazenda: false
                            IsBookmakerOwner: false
                            BookmakerOwnerMotives:
                              - Source: SIGAP
                                CNPJ: "00000000000000"
                                CompanyName: EMPRESA ANONIMIZADA
                                EconomicActivityCodes: 6463800;7319004;9200399
                                AdditionalDetails:
                                  SIGAPApplicationNumber: 000**024
                                  SIGAPRegistrationDate: "2024-05-26 22:35:16"
                            MinisterioDaFazendaMotives: {}
                        - SportsExposure:
                            Sports: []
                          ForbiddenBet:
                            Name: NOME ANONIMIZADO
                            Age: "40"
                            IsFromMinisterioDaFazenda: false
                            IsBookmakerOwner: false
                            BookmakerOwnerMotives: []
                            MinisterioDaFazendaMotives: {}
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                    externalId: 8e1ac243-4510-4ebf-ac7d-4b6d133dd619
                certidaoNegativaProtesto:
                  summary: PF - Certidão negativa de protesto
                  value:
                    result:
                      cpf: "77272722134"
                      protestos:
                        - cartorio: CARTÓRIO LARANJEIRAS - 32º OFÍCIO DE NOTAS DO RIO DE JANEIRO
                          obterDetalhes: null
                          cidade: RIO DE JANEIRO
                          quantidadeTitulos: ""
                          endereco: R. DAS LARANJEIRAS - LARANJEIRAS, RIO DE JANEIRO - RJ, 22221-060
                          telefone: 19 3396-2809
                          protestos:
                            - cpfCnpj: "00000000000000"
                              data: "2017-10-10"
                              dataProtesto: "2017-10-10"
                              dataVencimento: ""
                              valor: 9.900,00
                            - cpfCnpj: "00000000000000"
                              data: "2018-01-01"
                              dataProtesto: "2018-01-01"
                              dataVencimento: ""
                              valor: 16.000,00
                    status:
                      code: 200
                      message: Success
                processosJuridicosAdministrativos:
                  summary: PF - Processos jurídicos e administrativos
                  value:
                    result:
                      processes:
                        - cpf: ""
                          numberLegalProcess: ""
                          trialCourt: ""
                          processDate: ""
                          mainSubjectProcess: ""
                          classification: ""
                          relatedParties: ""
                    status:
                      code: 200
                      message: Success
                servidoresPublicos:
                  summary: PF - Servidores públicos
                  value:
                    result:
                      totalPublicPositions: 6
                      inServiceServices: 0
                      income: 0
                      isCurrentlyPublicServant: false
                      professionalHistory: []
                    status:
                      code: 400
                      message: Failed to fetch information
                consultaEnderecos:
                  summary: PF - Endereços
                  value:
                    result:
                      addresses:
                        - zipcode: ""
                          country: BRASIL
                          address: ""
                          city: SALVADOR
                          addressType: HOME
                          neighborhood: GRACA
                          state: BA
                    status:
                      code: 200
                      message: Success
                historicoTelefones:
                  summary: PF - Histórico de telefones
                  value:
                    result:
                      cpf: "80246074507"
                      phones:
                        - number: "(61) 98235-8585"
                          type: Celular
                          isRecent: "true"
                        - number: "(61) 3234-0000"
                          type: Fixo
                          isRecent: "false"
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                pessoasRelacionadas:
                  summary: PF - Pessoas relacionadas
                  value:
                    result:
                      cpf: "80246074507"
                      relatedPeople:
                        - cpf: "123***78901"
                          name: FULANO DA SILVA
                          relationship: Mae
                        - cpf: "987***32100"
                          name: CICLANO DA SILVA
                          relationship: Irmao
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                historicoEmails:
                  summary: PF - Histórico de e-mails
                  value:
                    results:
                      - emailAddress: usuario@example.com
                        domain: example.com
                        userName: usuario
                        type: PERSONAL
                        isMainForEntity: true
                        isRecentForEntity: true
                        validationStatus: VALID
                    status:
                      code: 200
                      message: Consulta de API Realizada com Sucesso
                relacionamentosEconomicos:
                  summary: PF - Relacionamentos econômicos
                  value:
                    result: {}
                    status:
                      code: 200
                      message: Success
                historicoProfissional:
                  summary: PF - Histórico profissional
                  value:
                    result:
                      professionalHistory:
                        - endDate: "2007-12-23"
                          companyName: CRN CURSOS PROFISSIONALIZANTES LTDA
                          cnpj: "05731652000209"
                          classification: EMPLOYEE
                          sector: PRIVATE - 8599604 - TREINAMENTO EM DESENVOLVIMENTO PROFISSIONAL E GERENCIAL
                          startDate: "2004-02-10"
                    status:
                      code: 200
                      message: Success
                certidaoNegativaProtestoPj:
                  summary: PJ - Certidão negativa de protesto
                  value:
                    result:
                      cnpj: "77272722134"
                      protestos:
                        - cartorio: CARTÓRIO LARANJEIRAS - 32º OFÍCIO DE NOTAS DO RIO DE JANEIRO
                          obterDetalhes: null
                          cidade: RIO DE JANEIRO
                          quantidadeTitulos: ""
                          endereco: R. DAS LARANJEIRAS - LARANJEIRAS, RIO DE JANEIRO - RJ, 22221-060
                          telefone: 19 3396-2809
                          protestos:
                            - cpfCnpj: "00000000000000"
                              data: "2017-10-10"
                              dataProtesto: "2017-10-10"
                              dataVencimento: ""
                              valor: 9.900,00
                            - cpfCnpj: "00000000000000"
                              data: "2018-01-01"
                              dataProtesto: "2018-01-01"
                              dataVencimento: ""
                              valor: 16.000,00
                    status:
                      code: 200
                      message: Success
                informacoesFinanceiras:
                  summary: PF - Informações financeiras
                  value:
                    status:
                      code: 200
                      message: Success
                dadosPis:
                  summary: PF - Dados PIS
                  value:
                    status:
                      code: 200
                      message: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/InvalidService'
        '500':
          $ref: '#/components/responses/ExternalSourceError'

  /api/customer:
    get:
      tags:
        - Customers
      summary: Consultar cliente
      description: |
        Consulta clientes cadastrados a partir de CPF ou CNPJ informado em
        `documentKey`.

        Use este endpoint para verificar se um cliente já existe, recuperar seu
        `tokenCustomer` e consultar o status atual de ativação.
      security:
        - bearerAuth: []
      parameters:
        - name: documentKey
          in: query
          required: true
          description: CPF ou CNPJ do cliente.
          schema:
            type: string
          example: cpf ou cnpj
      responses:
        '200':
          description: Cliente encontrado.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
              example:
                - tokenCustomer: c65449cd-5ce5-40b8-9aa4-0726b118f73e
                  type: null
                  documentKey: c65449cd-5ce5-40b8-9aa4-0726b118f73e
                  name: null
                  addInformation: null
                  active: false
                  imageUrl: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/changeStatusOfCustomer:
    post:
      tags:
        - Customers
      summary: Alterar status de cliente
      description: |
        Altera o status ativo ou inativo de um ou mais clientes.

        Envie uma lista de objetos com `documentKey` e `active`. Use `active:
        true` para ativar e `active: false` para desativar o cliente.
      security:
        - bearerAuth: []
      requestBody:
        description: Lista de clientes que devem ter o status alterado.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ChangeCustomerStatusRequest'
            example:
              - documentKey: c65449cd-5ce5-40b8-9aa4-0726b118f73e
                active: false
      responses:
        '200':
          description: Status alterado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatusResponse'
              example:
                status:
                  code: 200
                  message: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Payload inválido, parâmetro ausente ou falha técnica no processamento.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status:
              code: 400
              message: Failed to fetch information
    Unauthorized:
      description: Token ausente, inválido ou expirado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status:
              code: 401
              message: Unauthorized
    Forbidden:
      description: Credenciais válidas, mas sem permissão para executar a operação ou serviço.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status:
              code: 403
              message: Forbidden
    InvalidService:
      description: Serviço inexistente, não habilitado ou informado com grafia incorreta.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serviceAusente:
              summary: Campo service ausente
              value:
                result: {}
                status:
                  code: 400
                  message: Campo service é obrigatório.
            serviceInvalido:
              summary: Service não reconhecido
              value:
                result: {}
                status:
                  code: 400
                  message: Serviço não disponível para este cliente.
    ExternalSourceError:
      description: Falha temporária ou técnica na fonte externa consultada.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            result: {}
            status:
              code: 500
              message: Failed to fetch information

  schemas:
    TokenRequest:
      type: object
      description: Credenciais da aplicação usadas para gerar token JWT.
      required:
        - client
        - secret
      properties:
        client:
          type: string
          description: Identificador da aplicação fornecido previamente.
        secret:
          type: string
          description: Segredo da aplicação fornecido previamente.

    TokenResponse:
      type: object
      description: Resposta da geração de token.
      properties:
        access_token:
          type: string
          description: Token JWT usado no header `Authorization`.
        expires_in:
          type: string
          description: Tempo de expiração do token em segundos.

    TokenOnboardingRequest:
      type: object
      properties:
        document:
          type: string
          description: CPF ou CNPJ usado no onboarding.
        cpf:
          type: string
        cnpj:
          type: string
        name:
          type: string
        documentFiles:
          type: array
          items:
            type: object
            properties:
              documentFileType:
                type: string
                enum:
                  - RG_FRONT
                  - RG_BACK
                  - CNH
                  - SELFIE
                  - SELFIE_3D
                  - OAB_FRONT
                  - OAB_BACK
                  - OTHER
                  - OTHER_SINGLE_FILE
              document:
                type: string
                description: Arquivo em base64.
              documentUrl:
                type: string
                description: URL do arquivo.

    TokenOnboardingResponse:
      type: object
      properties:
        tokenOnboarding:
          type: string
          description: UUID do onboarding.
        dateHourProcess:
          type: string
          description: Data e hora de criação do TokenOnboarding.

    OnboardingReportResponse:
      type: object
      properties:
        tokenOnboarding:
          type: string
        createdDate:
          type: string
        numberSteps:
          type: integer
        status:
          type: string
          enum:
            - APPROVED
            - IN_PROCESS
            - REFUSED
        result:
          type: string
          enum:
            - AUT_APPROVED
            - IN_PROCESS
            - REFUSED
        fields:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingField'
        services:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingService'

    OnboardingField:
      type: object
      properties:
        field:
          type: string
        name:
          type: string
        step:
          type: string
        value:
          type: string

    OnboardingService:
      type: object
      properties:
        serviceName:
          type: string
        createdDate:
          type: string
        status:
          type: string
        statusMessage:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingField'
        rules:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string

    ServiceApiRequest:
      type: object
      description: |
        Payload base do endpoint `/api/service-api`. O campo `service` define qual
        produto será executado; os demais campos são dinâmicos e dependem do
        serviço escolhido.

        Famílias principais:

        - Cadastro e identidade PF
        - Documentos e biometria
        - Risco, validações e compliance PF
        - Político e eleitoral
        - Cadastro e regularidade PJ
        - Sócios, relacionamentos e compliance PJ
      required:
        - service
      additionalProperties: true
      properties:
        service:
          type: string
[...]
